Repository jkutkutOrg/Android-CineHub, pull requests merged in 2023-03, with the labels that each got.

#21 database model created
  docs/database_model.md
Labels: backend

#23 database model created: The revenge of the model
  docs/database_model.md
Labels: enhancement, backend

#20 Dev login activity
  app/CineHub/app/build.gradle
  app/CineHub/app/src/main/AndroidManifest.xml
  app/CineHub/app/src/main/java/org/cinehub/LoginActivity.java
  app/CineHub/app/src/main/java/org/cinehub/MainActivity.java
  app/CineHub/app/src/main/java/org/cinehub/RegisterActivity.java
  app/CineHub/app/src/main/java/org/cinehub/utils/UserValidationUtils.java
  app/CineHub/app/src/main/res/drawable/ic_logo_basic.png
  app/CineHub/app/src/main/res/drawable/ic_logo_extended.png
  app/CineHub/app/src/main/res/layout/activity_login.xml
  app/CineHub/app/src/main/res/layout/activity_main.xml
  app/CineHub/app/src/main/res/layout/activity_register.xml
  app/CineHub/app/src/main/res/values-night/themes.xml
  app/CineHub/app/src/main/res/values/dimens.xml
  app/CineHub/app/src/main/res/values/strings.xml
  app/CineHub/app/src/main/res/values/themes.xml
Labels: enhancement, In progress, activity

#28 First iteration of the Database API
  app/CineHub/app/build.gradle
  app/CineHub/app/google-services.json
  app/CineHub/app/src/main/java/org/cinehub/api/CinehubAPI.java
  app/CineHub/app/src/main/java/org/cinehub/api/CinehubAuth.java
  app/CineHub/app/src/main/java/org/cinehub/api/CinehubDB.java
  app/CineHub/app/src/main/java/org/cinehub/api/model/CinehubModel.java
  app/CineHub/app/src/main/java/org/cinehub/api/model/Movie.java
  app/CineHub/app/src/main/java/org/cinehub/api/model/Projection.java
  app/CineHub/app/src/main/java/org/cinehub/api/model/Reservation.java
  app/CineHub/app/src/main/java/org/cinehub/api/model/Room.java
  app/CineHub/app/src/main/java/org/cinehub/api/model/RoomConfiguration.java
  app/CineHub/app/src/main/java/org/cinehub/api/model/SeatReservation.java
  app/CineHub/app/src/main/java/org/cinehub/api/model/User.java
  app/CineHub/app/src/main/java/org/cinehub/api/result/OnFailureCallback.java
  app/CineHub/app/src/main/java/org/cinehub/api/result/OnSuccessCallback.java
  app/CineHub/app/src/main/java/org/cinehub/api/result/OnSuccessValueCallback.java
  app/CineHub/app/src/main/res/layout/activity_main.xml
  app/CineHub/app/src/test/java/org/cinehub/ExampleUnitTest.java
  app/CineHub/build.gradle
Labels: TODO, backend

#38 Activity navigation implementation
  app/CineHub/app/build.gradle
  app/CineHub/app/google-services.json
  app/CineHub/app/src/androidTest/java/org/cinehub/ExampleInstrumentedTest.java
  app/CineHub/app/src/androidTest/java/org/cinehub/api/APITest.java
  app/CineHub/app/src/androidTest/java/org/cinehub/api/auth/SignupTest.java
  app/CineHub/app/src/androidTest/java/org/cinehub/api/db/movie/MovieTest.java
  app/CineHub/app/src/androidTest/java/org/cinehub/api/db/projection/ProjectionTest.java
  app/CineHub/app/src/androidTest/java/org/cinehub/api/db/reservation/ReservationTest.java
  app/CineHub/app/src/androidTest/java/org/cinehub/api/db/room/RoomTest.java
  app/CineHub/app/src/androidTest/java/org/cinehub/api/db/room_configuration/SpecialSeatTest.java
  app/CineHub/app/src/androidTest/java/org/cinehub/api/db/seat_reservation/SeatReservationTest.java
  app/CineHub/app/src/androidTest/java/org/cinehub/api/db/user/UserTest.java
  app/CineHub/app/src/main/AndroidManifest.xml
  app/CineHub/app/src/main/java/org/cinehub/BillBoardActivity.java
  app/CineHub/app/src/main/java/org/cinehub/BookingSummaryActivity.java
  app/CineHub/app/src/main/java/org/cinehub/LoginActivity.java
  app/CineHub/app/src/main/java/org/cinehub/NavActivity.java
  app/CineHub/app/src/main/java/org/cinehub/RegisterActivity.java
  app/CineHub/app/src/main/java/org/cinehub/SeatSelectionActivity.java
  app/CineHub/app/src/main/java/org/cinehub/api/CinehubAPI.java
  app/CineHub/app/src/main/java/org/cinehub/api/CinehubAuth.java
  app/CineHub/app/src/main/java/org/cinehub/api/CinehubDB.java
  app/CineHub/app/src/main/java/org/cinehub/api/model/Movie.java
  app/CineHub/app/src/main/java/org/cinehub/api/model/Projection.java
  app/CineHub/app/src/main/java/org/cinehub/api/model/Reservation.java
  app/CineHub/app/src/main/java/org/cinehub/api/model/Room.java
  app/CineHub/app/src/main/java/org/cinehub/api/model/SeatReservation.java
  app/CineHub/app/src/main/java/org/cinehub/api/model/SpecialSeat.java
  app/CineHub/app/src/main/java/org/cinehub/api/model/User.java
  app/CineHub/app/src/main/java/org/cinehub/api/result/OnFailureCallback.java
  app/CineHub/app/src/main/java/org/cinehub/api/result/OnSuccessCallback.java
  app/CineHub/app/src/main/java/org/cinehub/api/result/OnSuccessValueCallback.java
  app/CineHub/app/src/main/java/org/cinehub/enums/SeatType.java
  app/CineHub/app/src/main/java/org/cinehub/utils/MovieAdapter.java
  app/CineHub/app/src/main/res/drawable/ic_accept_selection.xml
  app/CineHub/app/src/main/res/drawable/ic_empty_seat.xml
  app/CineHub/app/src/main/res/drawable/ic_nonexistent_seat.xml
  app/CineHub/app/src/main/res/drawable/ic_occupied_seat.xml
  app/CineHub/app/src/main/res/drawable/ic_select_seat.xml
  app/CineHub/app/src/main/res/drawable/st_rounded_background.xml
  app/CineHub/app/src/main/res/layout/activity_bill_board.xml
  app/CineHub/app/src/main/res/layout/activity_booking_summary.xml
  app/CineHub/app/src/main/res/layout/activity_login.xml
  app/CineHub/app/src/main/res/layout/activity_seat_selection.xml
  app/CineHub/app/src/main/res/layout/item_movie.xml
  app/CineHub/app/src/main/res/values/colors.xml
  app/CineHub/app/src/main/res/values/strings.xml
  app/CineHub/app/src/test/java/org/cinehub/ExampleUnitTest.java
  app/CineHub/build.gradle
  db/data/db.json
  docs/database_model.md
Labels: In progress, activity

#42 API db-v0.9.06
  .github/ISSUE_TEMPLATE/api-method-implementation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  app/CineHub/app/src/androidTest/java/org/cinehub/ExampleInstrumentedTest.java
  app/CineHub/app/src/androidTest/java/org/cinehub/api/APITest.java
  app/CineHub/app/src/androidTest/java/org/cinehub/api/auth/SignupTest.java
  app/CineHub/app/src/androidTest/java/org/cinehub/api/db/movie/MovieTest.java
  app/CineHub/app/src/androidTest/java/org/cinehub/api/db/projection/ProjectionTest.java
  app/CineHub/app/src/androidTest/java/org/cinehub/api/db/reservation/ReservationTest.java
  app/CineHub/app/src/androidTest/java/org/cinehub/api/db/room/RoomTest.java
  app/CineHub/app/src/androidTest/java/org/cinehub/api/db/room_configuration/SpecialSeatTest.java
  app/CineHub/app/src/androidTest/java/org/cinehub/api/db/seat_reservation/SeatReservationTest.java
  app/CineHub/app/src/androidTest/java/org/cinehub/api/db/user/UserTest.java
  app/CineHub/app/src/androidTest/java/org/cinehub/api/db_insert/ReservationTest.java
  app/CineHub/app/src/androidTest/java/org/cinehub/api/storage/ImgTest.java
  app/CineHub/app/src/main/AndroidManifest.xml
  app/CineHub/app/src/main/java/org/cinehub/LoginActivity.java
  app/CineHub/app/src/main/java/org/cinehub/MainActivity.java
  app/CineHub/app/src/main/java/org/cinehub/RegisterActivity.java
  app/CineHub/app/src/main/java/org/cinehub/api/CinehubAPI.java
  app/CineHub/app/src/main/java/org/cinehub/api/CinehubAuth.java
  app/CineHub/app/src/main/java/org/cinehub/api/CinehubDB.java
  app/CineHub/app/src/main/java/org/cinehub/api/CinehubStorage.java
  app/CineHub/app/src/main/java/org/cinehub/api/model/CinehubModel.java
  app/CineHub/app/src/main/java/org/cinehub/api/model/Movie.java
  app/CineHub/app/src/main/java/org/cinehub/api/model/Projection.java
  app/CineHub/app/src/main/java/org/cinehub/api/model/Reservation.java
  app/CineHub/app/src/main/java/org/cinehub/api/model/Room.java
  app/CineHub/app/src/main/java/org/cinehub/api/model/RoomConfiguration.java
  app/CineHub/app/src/main/java/org/cinehub/api/model/Seat.java
  app/CineHub/app/src/main/java/org/cinehub/api/model/SeatReservation.java
  app/CineHub/app/src/main/java/org/cinehub/api/model/SpecialSeat.java
  app/CineHub/app/src/main/java/org/cinehub/api/model/User.java
  app/CineHub/app/src/main/java/org/cinehub/utils/UserValidationUtils.java
  app/CineHub/app/src/main/res/drawable/ic_logo_basic.png
  app/CineHub/app/src/main/res/drawable/ic_logo_extended.png
  app/CineHub/app/src/main/res/layout/activity_login.xml
  app/CineHub/app/src/main/res/layout/activity_register.xml
  app/CineHub/app/src/main/res/values-night/themes.xml
  app/CineHub/app/src/main/res/values/dimens.xml
  app/CineHub/app/src/main/res/values/strings.xml
  app/CineHub/app/src/main/res/values/themes.xml
  db/data/db.json
  db/data/img/avengers_endgame.png
  db/data/img/forrest_gump.png
  db/data/img/inception.png
  db/data/img/jurassic_park.png
  db/data/img/minions.png
  db/data/img/the_dark_knight.png
  db/data/img/the_fellowship_of_the_ring.png
  db/data/img/the_god_father.png
  db/data/img/the_lion_king.png
  db/data/img/the_matrix.png
  db/data/img/the_shawshank_redemption.png
  db/data/img/the_silence_of_the_lambs.png
  db/data/img/the_terminator.png
  db/data/img/titanic.png
  docs/database_model.md
Labels: backend

#52 End activity implementation, and other minor fixes
  app/CineHub/app/src/main/AndroidManifest.xml
  app/CineHub/app/src/main/java/org/cinehub/BookingSummaryActivity.java
  app/CineHub/app/src/main/java/org/cinehub/EndActivity.java
  app/CineHub/app/src/main/res/drawable/ic_movie.xml
  app/CineHub/app/src/main/res/layout/activity_end.xml
  app/CineHub/app/src/main/res/layout/fragment_reservation_item.xml
Labels: activity

#55 Bug fixes and minor changes
  app/CineHub/app/src/androidTest/java/org/cinehub/api/storage/ImgTest.java
  app/CineHub/app/src/main/java/org/cinehub/BillBoardActivity.java
  app/CineHub/app/src/main/java/org/cinehub/BookingSummaryActivity.java
  app/CineHub/app/src/main/java/org/cinehub/EndActivity.java
  app/CineHub/app/src/main/java/org/cinehub/HomeActivity.java
  app/CineHub/app/src/main/java/org/cinehub/LoginActivity.java
  app/CineHub/app/src/main/java/org/cinehub/NavActivity.java
  app/CineHub/app/src/main/java/org/cinehub/RegisterActivity.java
  app/CineHub/app/src/main/java/org/cinehub/ReservationItem.java
  app/CineHub/app/src/main/java/org/cinehub/SeatSelectionActivity.java
  app/CineHub/app/src/main/java/org/cinehub/api/CinehubAPI.java
  app/CineHub/app/src/main/java/org/cinehub/api/CinehubDB.java
  app/CineHub/app/src/main/java/org/cinehub/api/model/Movie.java
  app/CineHub/app/src/main/java/org/cinehub/api/model/Projection.java
  app/CineHub/app/src/main/java/org/cinehub/api/model/Reservation.java
  app/CineHub/app/src/main/java/org/cinehub/utils/MovieAdapter.java
  app/CineHub/app/src/main/res/layout/activity_bill_board.xml
  app/CineHub/app/src/main/res/layout/activity_end.xml
  app/CineHub/app/src/main/res/layout/activity_register.xml
  app/CineHub/app/src/main/res/layout/fragment_reservation_item.xml
  app/CineHub/app/src/main/res/values/strings.xml
  app/CineHub/app/src/test/java/org/cinehub/ExampleUnitTest.java
  db/data/db.json
Labels: bug, enhancement, activity, backend
